In [11]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from matplotlib.gridspec import GridSpec
import seaborn as sns

In [12]:
simple_salary = pd.read_csv("salary.csv")

In [13]:
simple_salary.head()

,salary,exprior,yearsworked,yearsrank,market,degree,otherqual,position,male,Field,yearsabs
0,53000.0,0,0,0,1.17,1,0,1,1,3,0
1,58000.0,1,0,0,1.24,1,0,1,1,2,0
2,45500.0,0,0,0,1.21,1,0,1,1,3,2
3,35782.0,0,2,1,0.99,1,0,1,1,4,1
4,34731.0,0,2,2,0.91,1,0,1,1,4,1

In [14]:
# setting the independent and dependant variables
X = simple_salary.drop("salary", axis = 1)
y = simple_salary["salary"]

#Creating training and testing variables
X_train, X_test, y_train, y_test = train_test_split(simple_salary, y, test_size = 0.2)
print(X_train.shape, y_train.shape)
print(X_test.shape, y_test.shape)

(411, 11) (411,)
(103, 11) (103,)

In [15]:
lm = LinearRegression()
model = lm.fit(X_train, y_train)
predictions = lm.predict(X_test)

ValueError: Input contains NaN, infinity or a value too large for dtype('float64').

In [ ]:
print(predictions)